<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@4.53.2/themes/algolia.min.css" integrity="sha256-r046n8/T6YIqXoR0v+O9t3m6vJ8eT5H8pU5ZqYm020M=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic">
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.23.2/dist/algoliasearch-lite.umd.js" integrity="sha256-4d0g1S6ZpE8Z6Vd6Q+rX6X9z0R/dJ+v6zK/rXjJj+qA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
<script src="{{ '/assets/js/algolia-search.js' | relative_url }}"></script>

